[submodule "dep/MyVK"]
	path = dep/MyVK
	url = git@github.com:AdamYuan/MyVK.git
	branch = vkgsraster
[submodule "test/dep/diff-gaussian-rasterization"]
	path = test/dep/diff-gaussian-rasterization
	url = git@github.com:AdamYuan/diff-gaussian-rasterization.git
